[Desktop Entry]
Name=KeePassX 2
GenericName=Password Manager
GenericName[de]=Passwortverwaltung
GenericName[es]=Gestor de contraseñas
GenericName[fr]=Gestionnaire de mot de passe
GenericName[ru]=менеджер паролей
Exec=keepassx2 %f
Icon=keepassx
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-keepass2;
