favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-web-browser.desktop
recent=pluma.desktop,ca.desrt.dconf-editor.desktop,exo-file-manager.desktop,gimp.desktop,pragha.desktop,atril.desktop,ristretto.desktop,exo-terminal-emulator.desktop,xfce4-terminal.desktop,thunderbird.desktop
button-title=...
button-icon=swagarch
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
hover-switch-category=false
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
menu-width=400
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=alacarte
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

